.category-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.todo-card {
	background-color: azure;
}

.todo-card .card-delete {
	width: 20px;
	height: 20px;
	background-color: red;
}

.todo-card .card-status {
	background-color: bisque;
}

.todo-card .card-status.status-complete {
	background-color: lightgreen;
}
